.card > img {
  height:50%;
  width:50%;
}

.card {
  display:flex;
  align-items:center;

  flex-direction: column;
  background: white;                         /* White background */
  padding: 30px;                             /* Internal space */
  border-radius: 4px;                        /* Small radius */
  box-shadow: 0 10px 30px rgba(0,0,0,.1);
  height: 250px;
  width: 200px;  /* Light shadow */
}

.card > p {
  color: grey;
  font-weight: 13px;
}
